#visContainer {
  position: absolute;
  z-index: 0;
}

table.reportTable { 
  width: 100%;
  table-layout: auto;
  opacity: 0;
  transition: opacity 1000ms;
}

table.reportTable.reveal {
  opacity: 1;
}

